DATABASE_URL=postgresql+psycopg2://dbuser:db-password@localhost:5432/mydb

GEMINI_MODEL_NAME=gemini-2.5-flash
BLOG_GEMINI_MODEL_NAME=

EMAIL_ADDRESS=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465

TAVILY_API_KEY=
GOOGLE_API_KEY=AIzaSyC8hy--TikLkatnYzjEFd9pyJqatmnaJ1Q

BLOG_OUTPUT_DIR=data/blog_runs
